* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}


a {
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    text-align: center;
    width: 340px;
    min-height: 66px;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover {
    background-color: #8233E8;
}

h1 {
    font-size: 4rem;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

p {
    text-align: center;
    margin: 24px auto 0 auto;
    width: 792px;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: auto;
}

header img {
    display: block;
    margin: 35px 0 0 150px;
}


h1 span {
    color: #9747FF;
}

@media (max-width: 768px){
    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

    section img {
        width: 660px;
        height: 445px;
    }
}

@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
        width: 341px;
    }

    a {
        font-size: 1.25rem;
        width: 251px;
    }

    section img {
        width: 341px;
        height: 230px;
    }
}